Classification - If the answer is yes or no than this is 
This work, we will use the classification algorithm.

In [1]:
#import packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#import data
df=pd.read_csv("LoansTrainingSet.csv")

## EDA (Exploratory Data Analysis)

In [3]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [4]:
df.sample(10)

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
35208,230d759f-f747-443e-b695-3ee03e5df5f7,27073a20-32ab-4823-8047-7164f2f10fb5,Fully Paid,99999999,Short Term,741.0,< 1 year,Rent,85498.0,Debt Consolidation,$671.16,24.7,42.0,8,0,10287,16892,0.0,0.0
34134,21fb725f-7eb8-41b1-aa4f-dbc7a324216d,29a4c85d-8688-4ef0-8eb5-3b709ad2f26c,Fully Paid,31807,Long Term,717.0,6 years,Home Mortgage,71122.0,Debt Consolidation,"$1,054.97",13.9,5.0,12,0,15203,26394,0.0,0.0
35932,23cfb4f5-2af9-4514-89ed-882dce0267d0,f56ea5e5-1ea7-4bc8-8b45-4f3e2a909e42,Fully Paid,14717,Short Term,731.0,2 years,Rent,40320.0,Debt Consolidation,$636.05,17.4,NaN,6,0,23225,25190,0.0,0.0
229640,e48c3dcd-dc6d-4a32-bc78-d28970ec88df,d0bd47b3-379c-4f85-b9d7-abb28feff86d,Fully Paid,4941,Short Term,NaN,10+ years,Rent,NaN,Debt Consolidation,"$1,159.74",20.7,NaN,16,0,8523,21911,0.0,0.0
12739,0cb369f5-d62c-49dc-bba5-9d663c13b927,70f05856-0abc-41cf-8682-157f13d3f3ca,Charged Off,3020,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,$224.62,8.0,22.0,3,0,1422,2718,0.0,0.0
193565,c07a117e-82f3-479a-a148-9d1927ef72ed,f6967dc7-37ee-4a07-8798-2d5af0d9d087,Charged Off,11813,Short Term,NaN,2 years,Home Mortgage,NaN,Debt Consolidation,$849.86,17.0,NaN,12,0,11116,18403,0.0,0.0
150798,95e0fdb3-5256-40d3-b4a8-d6d9cdf8951d,4274282f-6583-4404-9678-033938a0a4c8,Fully Paid,8907,Short Term,NaN,NaN,Own Home,NaN,Home Improvements,$650.68,16.3,12.0,6,0,5478,11484,0.0,0.0
205498,cc8f85a7-31f3-4435-ac47-747f3e3a12ea,b5a36884-bb54-4015-b97d-fc6f8ec381d1,Fully Paid,1405,Short Term,NaN,NaN,Rent,NaN,Buy a Car,$41.16,8.7,NaN,2,0,1254,1807,0.0,0.0
158894,9e0b8586-d42b-454e-bdd6-d6b97039510b,b8f1d9e0-63d9-43e2-9156-383b1fcc3576,Fully Paid,15933,Short Term,NaN,10+ years,Rent,NaN,Debt Consolidation,"$1,081.94",17.4,44.0,9,0,8720,14343,0.0,0.0
88455,57df6353-6644-462f-814f-171bb2168386,b7e8e3e1-30a4-475b-a752-0af27659cc10,Fully Paid,7330,Short Term,746.0,3 years,Home Mortgage,178168.0,Debt Consolidation,"$2,241.94",22.0,0.0,21,0,103279,753862,NaN,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [6]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [7]:
df.describe()

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
count,2.569840e+05,195308.000000,1.953080e+05,256984.000000,116601.000000,256984.000000,256984.000000,2.569840e+05,256455.000000,256961.000000
mean,1.371331e+07,1251.116099,7.195272e+04,18.290195,34.881450,11.106267,0.156628,1.540656e+04,0.110316,0.027203
std,3.438131e+07,1762.016848,5.887757e+04,7.075747,21.854165,4.982982,0.460731,1.966506e+04,0.336229,0.245950
min,5.050000e+02,585.000000,0.000000e+00,3.400000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,8.299000e+03,714.000000,4.432100e+04,13.500000,16.000000,8.000000,0.000000,5.974000e+03,0.000000,0.000000
50%,1.429800e+04,733.000000,6.124200e+04,17.000000,32.000000,10.000000,0.000000,1.107800e+04,0.000000,0.000000
75%,2.436700e+04,744.000000,8.646200e+04,21.700000,51.000000,14.000000,0.000000,1.931900e+04,0.000000,0.000000
max,1.000000e+08,7510.000000,8.713547e+06,70.500000,176.000000,76.000000,11.000000,1.731412e+06,7.000000,11.000000

In [8]:
df.corr() #show whick column depends on which column as numbers

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
Current Loan Amount,1.000000,-0.139743,0.024069,0.014725,0.003488,-0.003094,-0.000062,0.003138,0.003576,-0.003069
Credit Score,-0.139743,1.000000,-0.033221,-0.011658,-0.007994,0.008124,0.000777,-0.003263,-0.003426,0.004381
Annual Income,0.024069,-0.033221,1.000000,0.146859,-0.059675,0.140463,-0.013672,0.292165,-0.044837,0.038185
Years of Credit History,0.014725,-0.011658,0.146859,1.000000,-0.039695,0.128033,0.061251,0.201001,0.062049,0.020915
Months since last delinquent,0.003488,-0.007994,-0.059675,-0.039695,1.000000,-0.035803,0.088612,-0.024292,0.112907,0.002730
Number of Open Accounts,-0.003094,0.008124,0.140463,0.128033,-0.035803,1.000000,-0.013731,0.222763,-0.022805,0.005754
Number of Credit Problems,-0.000062,0.000777,-0.013672,0.061251,0.088612,-0.013731,1.000000,-0.103814,0.755866,0.584917
Current Credit Balance,0.003138,-0.003263,0.292165,0.201001,-0.024292,0.222763,-0.103814,1.000000,-0.117995,-0.011118
Bankruptcies,0.003576,-0.003426,-0.044837,0.062049,0.112907,-0.022805,0.755866,-0.117995,1.000000,0.046160
Tax Liens,-0.003069,0.004381,0.038185,0.020915,0.002730,0.005754,0.584917,-0.011118,0.046160,1.000000

In [9]:
df.shape #number of rows and columns

(256984, 19)

In [10]:
df.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Years in current job', 'Home Ownership',
       'Annual Income', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [11]:
df['Credit Score'].value_counts()

747.0     5669
740.0     5537
741.0     5499
746.0     5486
742.0     5219
          ...
6070.0       3
5980.0       3
5910.0       3
5930.0       2
5860.0       1
Name: Credit Score, Length: 334, dtype: int64

In [12]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [13]:
df.loc[df['Credit Score'] < 700,'Credit Score'] = 0
df.loc[df['Credit Score'] >= 700,'Credit Score'] = 1

In [14]:
df.drop(columns=['Years in current job','Monthly Debt','Loan ID'], axis=1, inplace=True)

In [15]:
df.sample(5)

,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Home Ownership,Annual Income,Purpose,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
105482,617f8684-328c-49e4-bf67-57f813023e6d,Charged Off,7580,Short Term,1.0,Rent,25431.0,Business Loan,11.2,NaN,5,0,10401,14547,0.0,0.0
131309,1a9052d1-847f-400b-ae79-185e101c0c6e,Fully Paid,22579,Short Term,1.0,Home Mortgage,64370.0,Debt Consolidation,17.0,NaN,9,0,11857,41313,0.0,0.0
144216,afdb6fc0-3bdb-4a10-8f3e-5644b0039ca8,Charged Off,8064,Short Term,1.0,Home Mortgage,105840.0,Debt Consolidation,21.5,11.0,10,0,8560,21781,0.0,0.0
41911,6dca2eec-5fd0-4b92-9674-ca5c21b83ad1,Charged Off,28448,Long Term,1.0,Home Mortgage,75060.0,Debt Consolidation,11.1,NaN,13,0,34259,43810,0.0,0.0
10032,43d35355-72e9-40f2-9ab2-a0af03f9263c,Charged Off,21170,Long Term,1.0,Home Mortgage,111435.0,Debt Consolidation,22.4,25.0,16,0,37660,44357,0.0,0.0

In [16]:
df['Annual Income'] = df['Annual Income'].fillna(df['Annual Income'].mean())
df['Months since last delinquent'] = df['Months since last delinquent'].fillna(df['Months since last delinquent'].mean())
df['Bankruptcies'] = df['Bankruptcies'].fillna(df['Bankruptcies'].mean())
df['Tax Liens'] = df['Tax Liens'].fillna(df['Tax Liens'].mean())

In [17]:
df.isnull().sum() #show empty columns numbers

Customer ID                         0
Loan Status                         0
Current Loan Amount                 0
Term                                0
Credit Score                    61676
Home Ownership                      0
Annual Income                       0
Purpose                             0
Years of Credit History             0
Months since last delinquent        0
Number of Open Accounts             0
Number of Credit Problems           0
Current Credit Balance              0
Maximum Open Credit                 0
Bankruptcies                        0
Tax Liens                           0
dtype: int64

In [18]:
df=df.sample(50000)

In [19]:
df.shape

(50000, 16)

In [20]:
bos = df[df['Credit Score'].isnull()] # we got the empty value

In [21]:
bos.shape

(12003, 16)

In [22]:
dolu = df[df['Credit Score'].notnull()]

In [23]:
dolu.shape

(37997, 16)

In [24]:
x=dolu.drop("Credit Score",axis=1)
y=dolu["Credit Score"]

In [25]:
x

,Customer ID,Loan Status,Current Loan Amount,Term,Home Ownership,Annual Income,Purpose,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
143027,01868197-0b6a-49b7-b3f9-36aef125d39c,Charged Off,13309,Long Term,Home Mortgage,92967.0,Debt Consolidation,13.6,76.00000,13,0,3882,12132,0.0,0.0
252027,78577b23-662e-4b9b-a9f2-1d825cef66ed,Charged Off,35291,Long Term,Rent,110913.0,Debt Consolidation,8.3,34.88145,15,0,39310,54146,0.0,0.0
110776,e56e91e0-9db6-4b1b-80b2-268d3db256af,Fully Paid,6124,Short Term,Rent,51035.0,Debt Consolidation,10.0,34.88145,14,0,7392,12968,0.0,0.0
151642,c6401b61-e913-42dd-aae7-c5734664de58,Fully Paid,4760,Short Term,Home Mortgage,41647.0,Medical Bills,13.6,17.00000,12,0,7802,11114,0.0,0.0
206961,79834fea-26ff-4bf8-a309-7d10c1ef8872,Fully Paid,99999999,Short Term,Home Mortgage,122064.0,Debt Consolidation,12.4,34.88145,24,0,8455,32027,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117402,85f0a0d4-0715-45d6-8307-f86eecad307c,Fully Paid,1996,Short Term,Rent,52894.0,Debt Consolidation,16.6,11.00000,17,0,1038,26614,0.0,0.0
41976,60213c63-a8ef-478c-b119-12d9e130488d,Fully Paid,22310,Short Term,Rent,45635.0,Debt Consolidation,23.0,34.88145,9,0,18970,28398,0.0,0.0
224714,8355d8c3-bf2d-419e-b868-fcdd2120c343,Fully Paid,5099,Short Term,Rent,28697.0,Debt Consolidation,16.4,68.00000,5,0,2984,5101,0.0,0.0
175831,1b27db3c-3d4b-4a70-a2dc-9a0bbb29d759,Fully Paid,12287,Long Term,Home Mortgage,81912.0,Debt Consolidation,9.2,34.88145,8,1,6718,12894,1.0,0.0
85696,e75d32e0-6c63-4b9e-899b-f6976255e0d1,Charged Off,8915,Short Term,Rent,83202.0,Debt Consolidation,13.3,48.00000,9,0,9463,28764,0.0,0.0

In [26]:
y

143027    0.0
252027    1.0
110776    1.0
151642    1.0
206961    1.0
         ...
117402    1.0
41976     1.0
224714    1.0
175831    0.0
85696     1.0
Name: Credit Score, Length: 37997, dtype: float64

In [27]:
x=pd.get_dummies(x,drop_first=True) #data model ready

In [28]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB

In [29]:
g= GaussianNB()
b= BernoulliNB()

In [30]:
g.fit(x,y)

GaussianNB()

In [31]:
b.fit(x,y)

BernoulliNB()

In [ ]:
#models trained

In [32]:
from sklearn.metrics import accuracy_score, precision_score, recall_score,f1_score,confusion_matrix,classification_report

In [33]:
tahmin1=g.predict(x)
tahmin2=b.predict(x)

In [34]:
accuracy_score(tahmin1,y)

0.8409874463773456

In [35]:
accuracy_score(tahmin2,y)

0.8438297760349501

In [36]:
precision_score(tahmin2,y)

1.0

In [37]:
confusion_matrix(tahmin2,y) #True Positive, False Negative, False Positive, True Negative

array([[    0,     0],
       [ 5934, 32063]])

In [38]:
confusion_matrix(tahmin1,y)

array([[   35,   143],
       [ 5899, 31920]])

In [39]:
print(classification_report(tahmin1,y))#prints all predictions

              precision    recall  f1-score   support

         0.0       0.01      0.20      0.01       178
         1.0       1.00      0.84      0.91     37819

    accuracy                           0.84     37997
   macro avg       0.50      0.52      0.46     37997
weighted avg       0.99      0.84      0.91     37997

In [40]:
print(classification_report(tahmin2,y))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00         0
         1.0       1.00      0.84      0.92     37997

    accuracy                           0.84     37997
   macro avg       0.50      0.42      0.46     37997
weighted avg       1.00      0.84      0.92     37997

In [41]:
from sklearn.neighbors import KNeighborsClassifier
k= KNeighborsClassifier()

In [42]:
k.fit(x,y)

KNeighborsClassifier()

In [43]:
tahmin3=k.predict(x)

In [44]:
print(classification_report(tahmin3,y))

              precision    recall  f1-score   support

         0.0       0.22      0.64      0.33      2041
         1.0       0.98      0.87      0.92     35956

    accuracy                           0.86     37997
   macro avg       0.60      0.76      0.62     37997
weighted avg       0.94      0.86      0.89     37997

In [45]:
confusion_matrix(tahmin3,y)

array([[ 1309,   732],
       [ 4625, 31331]])

In [46]:
from sklearn.linear_model import LogisticRegression
l=LogisticRegression()

In [47]:
l.fit(x,y)

LogisticRegression()

In [48]:
tahmin4=l.predict(x)

In [49]:
print(classification_report(tahmin4,y))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00         0
         1.0       1.00      0.84      0.92     37997

    accuracy                           0.84     37997
   macro avg       0.50      0.42      0.46     37997
weighted avg       1.00      0.84      0.92     37997

In [50]:
confusion_matrix(tahmin4,y)

array([[    0,     0],
       [ 5934, 32063]])

In [51]:
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()

In [52]:
d.fit(x,y)

DecisionTreeClassifier()

In [53]:
tahmin5=d.predict(x)

In [54]:
print(classification_report(tahmin5,y))

              precision    recall  f1-score   support

         0.0       1.00      0.98      0.99      6036
         1.0       1.00      1.00      1.00     31961

    accuracy                           1.00     37997
   macro avg       1.00      0.99      0.99     37997
weighted avg       1.00      1.00      1.00     37997

In [55]:
confusion_matrix(tahmin5,y)

array([[ 5934,   102],
       [    0, 31961]])